*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
input[type="submit"]{
    height: 45px;
    width: auto;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;padding-right: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    margin-left: 25px;

}
input[type="date"]{
    height: 45px;
    width: auto;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    margin-left: 25px;
}
label{
    font-size: 30px;
}