*{
    margin: 0px;
    padding:0px;
    
}
h1 {
    text-align:center;
    padding-top:25px;
    font-size: 40px;
}
h2 {
    text-align:center;
}
.wlcm{
    position:center;
    width:25%;
    height:25%;
    margin-left:605px;
    padding-top:30px;
}